<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
    <div class="form-content-container">
        <mat-form-field>
            <mat-label>Nome do Produto</mat-label>
            <input matInput type="text" 
            name="Name" 
            formControlName="name" 
            placeholder="Product Name"
            required />
        </mat-form-field>
        <br/>
        <button 
            mat-raised-button 
            color="primary" 
            type="submit">Save</button>
    </div>
</form>